<div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title text-center">商品数据</div>  
    </div>
    <div class="panel-body">
      <ul class="nav nav-pills nav-stacked">
        <li><a href="/items/export"><span class="glyphicon glyphicon-log-out">&nbsp;导出</span></a></li>
        <li><a href="/items/import"><span class="glyphicon glyphicon-log-in">&nbsp;商品导入</span></a></li>
        <li><a href="/items/stock/import"><span class="glyphicon glyphicon-log-in">&nbsp;库存导入</span></a></li>
      </ul>
    </div> 
  </div>