<!DOCTYPE html>
<html>
<head>
<title>出错了</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,maximum-scale=1.0,user-scalable=no,initial-scale=1">
<style type="text/css">
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
  text-align: center;
}
.main{font-size: 15px;margin-top: 30px;}
.logo{width: 100%;height: 100%;}
.jianjie{margin: 50px auto;text-align: center;}
</style>

</head>
<body class="indexbg">
<div class="main">亲！出错了...</div>
<div class="jianjie"><p>Copyright © 2015蜂创科技 </p></div>
</body>
</html>

